/* btn */
.btn__wrap {
  display: flex;
  flex-direction: column;
}
.btn__wrap a {
  margin-bottom: 5px;
}
.btn__wrap button {
  width: 100%;
}

/* viewのボタン */
.btn__wrap-view {
  display: flex;
}
.btn__wrap-view a {
  margin-right: 5px;
}

/* nav */
svg {
  vertical-align: text-top;
}

/* sidebar */
.sidebar {
  height: calc(100vh - 56px);
}

/* main */
.main {
  padding: 32px 16px 0 16px;
}
